/* -------------------------------------------------------------------------- */
/*                                   General features                                   */
/* -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hind+Siliguri&family=Shadows+Into+Light&display=swap');

a{
    text-decoration: none;
    color: rgb(70, 48, 48)
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */

#header{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 15%;
  /* background-color: rgba(66, 45, 102, 0.849); */
  /* color: rgb(255, 255, 255); */
  position: relative;
}

#header-links{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  font-size: 16px;
  font-family: 'Hind Siliguri', sans-serif;
}

/* -------------------------------------------------------------------------- */
/*              Home & Taco List Components                                   */
/* -------------------------------------------------------------------------- */
#main-container{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85%;
}

.taco-form {
  height: 10%;
}
